.modal-header{
    justify-content: space-between;
}
.my_active{
    color: orange !important;
}
.style_icon_menu{
    width: 30px;
    margin: 7px;
}
.offcanvas-body, .dropdown-menu{
    background-color: gray!important;
}
.start-page{
    margin-top: 57px;
}
.pointer{
    cursor: pointer;
}
.text-left{
    text-align: left!important;
}
.offcanvas-header{
    padding: 13px!important;
}